{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="side-margin">
    <div class="about_title">
        <h1>nanahiryu's Profile</h1>
    </div>
    <div class="about_box">
        <div class="about_name_box">
            <div class="about_name_kanji">
                <h2>大島　龍之介</h2>
            </div>
            <div class="about_name_alphabet">
                <h2>Ryunosuke Oshima</h2>
            </div>
        </div>
        <div class="about_career_field">
            <p>1999年12月14日神奈川生まれ。</p>
            <p>2018年～2022年、慶応義塾大学で適応制御理論について研究、卒業。</p>
            <p>2022年～、東京工業大学システム制御系ESDコースにて、プロダクトのデザインについて実践的に学ぶ傍ら、脊髄損傷者の生体データを用いた体調予測の研究を行う。</p>
        </div>
    </div>
    <div class="about_skill_field">
        <h2>skills</h2>
        {% for skill in skills %}
        <div class="about_skill_box">
            <div class="about_stars_field">
                {% for _ in maxloop %}
                {% if forloop.counter <= skill.stars %} <img src="{% static 'home/img/star.png' %}" class="about_star_img">
                {% endif %}
                {% endfor %}
            </div>
            <h3 class="about_skill_name">{{ skill.name }}</h3>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}



