<footer class="pt-5">
    <div class="centering">
        <span class="footer-span"><i class="fa-brands fa-twitter footer-icon"></i><a href="https://twitter.com/nanahiryu" target="_blank" class="footer-link">nanahiryu</a></span>
        <span class="footer-span"><i class="fa-solid fa-envelope footer-icon"></i>ryu2751x7@gmail.com</span>
        <span class="footer-span"><i class="fa-brands fa-amazon footer-icon"></i><a href="https://www.amazon.jp/hz/wishlist/ls/16WXZ7IDZFUD1?ref_=wl_share" target="_blank" class="footer-link">Amazon wish list</a></span>
    </div>
</footer>