<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar_bgcolor">
    <div class="container-fluid">
        <a class="navbar-brand color-white" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link color-white" href="{% url 'home:about' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-white" href="{% url 'blog:list' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-white" href="{% url 'home:portfolio' %}">Portfolio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>