@charset "UTF-8";

html {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 0.5;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    margin: 0.5em 0;
}

/* header */
.blog-header {
    margin: 60px 5% 30px 5%;
}

.blog-category-list {
    text-align: center;
    margin: 50px auto 30px auto;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14pt;
}

/* フッター */
#site-footer {
    padding: 32px 0;
}

#site-footer ul {
    list-style-type: none;
}

#site-footer a {
    color: #000;
}

#site-footer a:hover {
    opacity: 0.5;
}

#footer-container > * {
    margin-bottom: 32px;
}

#footer-container > ul {
    padding: 0;
}

@media (min-width: 1024px) {
    #footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

input[type="text"] {
    width: 100%;
    font-family: "Noto Sans JP", sans-serif;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px #000;
    background-color: transparent;
    color: #000;
}

.search-box {
    width: 20%;
    margin-left: 70%;
    margin-bottom: 20px;
}

.field {
    width: 100%;
    position: relative;
}

.search-btn {
    position: absolute;
    width: 38px;
    height: 38px;
    top: calc(50% - 19px);
    right: 0;
    border: none;
    background: transparent;
}

.search-btn::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    border-radius: 50%;
    box-shadow: 0 0 0 2px #000;
}

.search-btn::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 6px;
    top: calc(50% + 6px);
    left: calc(50% + 2px);
    border-top: solid 2px #000;
    transform: rotate(45deg);
}

.diary {
    background-color: #fff;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 32px;
}

.diary > a {
    display: block;
    width: 100%;
    height: 100%;
}

.diary > a:hover {
    overflow: hidden;
    transform: scale(1.1);
    transition-duration: 1s;
}

.diary-title {
    margin-bottom: 16px;
    font-size: 22px;
    color: #333;
    font-weight: 400;
}

.meta {
    margin-bottom: 32px;
    color: #999;
    font-size: 14px;
}

.contents > p {
    color: #333;
    line-height: 2;
    margin-bottom: 2em;
}

.section-title {
    font-weight: 300;
    font-size: 16px;
    padding: 16px 0;
}

/* メインコンテンツ タブレット横向き以上 */
@media (min-width: 1024px) {
    #diary-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
        column-gap: 32px;
    }

    #diary-list > * {
        grid-column: 1/-1;
    }

    #diary-list > article {
        grid-column: auto;
    }
}

/* メインコンテンツ PC */
@media (min-width: 1366px) {
    #diary-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Youtube埋め込み動画用 */
iframe {
    width: 100%;
}

.text-left {
    text-align: left;
}

/* .backを追加 */
.section-title,
.back {
    font-weight: 300;
    font-size: 16px;
    padding: 16px 0;
}

@media (min-width: 1024px) {
    #diary-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
        column-gap: 32px;
    }

    #diary-list > * {
        grid-column: 1/-1;
    }

    #diary-list > article {
        grid-column: auto;
    }

    /* これを追加 */
    #diary-detail {
        width: 600px;
        margin: 0 auto;
        padding: 0;
    }
}

nav#page {
    margin-top: -16px;
    margin-bottom: 16px;
}

nav#page > * {
    margin-right: 20px;
}
