{% extends 'blog/base2.html' %}
{% load blog %}
{% load markdown_extras %}

{% block meta_title %}{{ diary.title }} - {{ block.super }}{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
<section id="diary-detail" class="container">
    <nav class="back"><a href="{% get_return_link request %}">戻る</a></nav>
    <article class="diary">
        <h1 class="diary-title">{{ diary.title }}</h1>
        <p class="meta">
            <time datetime="{{ diary.created_at | date:'Y-m-d' }}">{{ diary.created_at | date:'Y年n月j日' }}</time>
            -
            {{ diary.category }}
        </p>
        <div class="contents text-left" id="content">
            <!-- {{ diary.text | linebreaks | urlize2 }} -->
            <p class="diary-text">{{ diary.text|markdown|safe }}</p>
        </div>
    </article>
</section>
{% endblock %}