<footer class="pt-5">
    <div class="footer-grid">
        <span class="footer-span">
            <i class="fa-brands fa-twitter footer-icon"></i>
            <a href="https://twitter.com/nanahiryu" target="_blank" class="footer-link">nanahiryu</a>
        </span>
        <span class="footer-span">
            <i class="fa-brands fa-reddit-alien footer-icon"></i>
            <a href="https://www.nanahiryu.com/about/" target="_blank" class="footer-link">このページの管理者</a>
        </span>
    </div>
</footer>