<nav class="navbar navbar-expand-md navbar-light fixed-top navbar_bgcolor">
    <div class="container-fluid splatfont">
        <a class="navbar-brand color-mildblack" href="/spla">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto menu">
                <li class="nav-item">
                    <a class="nav-link color-mildblack" href="{% url 'spla:weapon_list' %}">ブキのずかん</a>
                    <ul class="menuSub">
                        <li><a href="{% url 'spla:main_list' %}">メインの一覧</a></li>
                        <li><a href="{% url 'spla:sub_list' %}">サブの一覧</a></li>
                        <li><a href="{% url 'spla:special_list' %}">スペシャルの一覧</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-mildblack" href="#">射程クイズ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color-mildblack" href="#">アップデートりれき</a>
                </li>
            </ul>
        </div>
    </div>
</nav>