{% extends 'spla/base.html' %}


{% block title %}{{ sub.name }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="splatfont container">
    <h1>サブが{{ sub.name }}のブキ一覧</h1>
    <div class="row">
        {% for weapon in sub.weapon.all %}
        <div class="col-lg-6 col-md-12">
            <a href="{% url 'spla:weapon_detail' weapon.pk %}" class="list-link">
                <div class="list-block">
                    <img src="{{ weapon.image.url }}" class="list-img">
                    <h3 class="list-text">{{ weapon.name }}</h3>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}