{% extends 'spla/base.html' %}
{% block content %}
<div class="splatfont">
    <h2>{{ weapon.name }}</h2>
    <h3>spポイント：{{ weapon.sp_point }}</h3>
    <div>
        <h3>メイン：<a href="{% url 'spla:main_detail' weapon.main.pk %}">{{ weapon.main }}</a></h3>
    </div>
    <div>
        <h3>サブ：<a href="{% url 'spla:sub_detail' weapon.sub.pk %}">{{ weapon.sub }}</a></h3>
    </div>
    <div>
        <h3>スペシャル：<a href="{% url 'spla:special_detail' weapon.special.pk %}">{{ weapon.special }}</a></h3>
    </div>
</div>



{% endblock %}